@font-face {
  font-family: "Oughter";
  src: url("fonts/Oughter.woff2");
  font-display: swap;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;

  min-height: 100vh;
  display: flex;
}

.sidebar {
  background-image: url("images/digital-art-isolated-house.jpg");
  background-size: cover;

  flex: 2;
  position: relative;
}

.logo {
  text-align: center;
  font-family: "Oughter", Helvetica, Arial, sans-serif;
  font-size: 4rem;
  color: white;
  background-color: rgb(0, 0, 0, 50%);

  border-radius: 25px;
  padding: 2rem;

  position: absolute;
  width: 100%;
  top: 20%;
}

.main-content {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading,
.subheading {
  font-size: 1.5rem;
  font-weight: bold;

  margin: 1rem 2rem;
}
