/* Custom decorative font for the logo */
@font-face {
  font-family: "Oughter";
  src: url("fonts/Oughter.woff2");
  font-display: swap;
}

/* Global Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Main Layout */
body {
  min-height: 100vh;
  display: flex;

  font-family: Helvetica, Arial, sans-serif;
}

/* Sidebar Styling */
.sidebar {
  flex: 2; /* Takes 2/5ths of the space */
  position: relative;

  background-image: url("images/digital-art-isolated-house.jpg");
  background-size: cover;
}

/* Logo Overlay */
.logo {
  position: absolute;
  top: 20%;
  width: 100%;
  padding: 2rem;
  overflow-wrap: break-word; /* Prevents text overflow */

  font-family: "Oughter", Helvetica, Arial, sans-serif;
  font-size: 4rem;
  text-align: center;

  color: rgb(250, 250, 250);
  background-color: rgb(0, 0, 0, 50%);
  border-radius: 25px;
}

/* Attribution Badge (Centered at bottom) */
.attribution {
  position: absolute;
  bottom: 1rem;

  /* Centering trick */
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;

  padding: 0.5rem 1rem;
  margin: auto;

  font-size: 1rem;
  text-align: center;

  color: rgb(250, 250, 250);
  background-color: rgb(0, 0, 0, 50%);
  border-radius: 5px;
}

/* Link Styles */
a:link,
a:visited {
  text-decoration: none;
  font-weight: bold;
  color: #fa94a1;
}

a:hover {
  color: #fbafb9;
}

a:active {
  color: #f6354f;
}

/* Main Content Area */
.main-content {
  flex: 3; /* Takes 3/5ths of the space */
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: rgb(250, 250, 250);
}

/* Typography */
.heading,
.subheading {
  padding: 1rem 2rem;
}

.heading,
.subheading,
.form-heading {
  font-size: 1.25rem;
  font-weight: bold;
}

/* Form Layout */
form {
  margin: 2rem 0;
}

.form-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;

  background-color: white;
  box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.1);
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-field label {
  font-size: 0.9rem;
}

.form-field input {
  box-sizing: content-box;
  padding: 0.5rem;
  width: 30ch;

  font-size: 1rem;

  border: 1px solid black;
  border-radius: 3px;
}

/* Input Focus State */
.form-field input:focus {
  outline: none;
  border: 1px solid blue;
  box-shadow: 1px 1px 3px rgb(0, 0, 0, 0.5);
}

/* Invalid Password State */
.form-field input[type="password"]:invalid {
  border: 1px solid red;
}

/* Form Footer */
.form-footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;

  padding-left: 2rem;
}

/* Buttons */
.form-row button {
  padding: 0.75rem 2rem;

  font-size: 1rem;
  font-weight: bold;

  color: rgb(250, 250, 250);
  background-color: #fa94a1;
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgb(0, 0, 0, 0.5);

  cursor: pointer;
}

.form-row button:hover {
  background-color: #fbafb9;
}

.form-row button:active {
  background-color: #f6354f;
}

.form-row p {
  font-size: 1rem;
}
