@font-face {
  font-family: "Oughter";
  src: url("fonts/Oughter.woff2");
  font-display: swap;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
}

.sidebar {
  background-image: url("images/digital-art-isolated-house.jpg");
  background-size: cover;

  flex: 0 0 40%;
}

.logo {
  font-family: "Oughter", sans-serif;
}

.main-section {
  flex: 0 0 60%;
}
